<nav>
  <% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>  
</nav>
<div>
  <% if user_signed_in? %>
    <p>You signed in. Here is dealer dashboard</p>
  <% else %>
    <p>Sign in, please</p>
  <% end %>  
</div>